html {
    scroll-behavior: smooth;
}

.blog, .article {
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.article, .title {
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
    text-align: justify; 
    text-justify: inter-word;
}

.title {
    font-size: 30px;
}

.published {
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.published span{
    font-weight: 700;
    font-style: normal;
}

.article *{
    margin: 30px 0;
    color: #2d2d2d;
}

.article__image {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

#edit__blog--btn {
    background: rgba(0, 0, 0, 0.2);
    display: none;
}

.article *{
    word-break: break-word;
}

@media (max-width: 414px) {
  
    .blog__image {
        margin-left: 0px;
    }

    .btn.dark{
        margin-left: 0;
    }

    .title {
        font-size: 20px;
    }

    #allComments{
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .title {
        word-wrap: break-word;
    }
}
